{% liquid
  function current_profile = 'modules/user/helpers/current_profile'
%}
{% if context.session.original_user_id == blank %}
  <section class="pos-card pos-card-highlighted">
    <section class="pos-user-content">
    
      <h1 class="pos-heading-2 pos-spacing">Profile</h1>
      <section>
        <header>
          <h1 class="pos-heading-3">Email</h1>
        </header>
        <div>Current email: {{current_profile.user.email}}</div>
        <a href="/users/email/edit" class="pos-button pos-button-primary">
          Change email
        </a>
      </section>
      <form action="/profile/update" method="POST" class="pos-form pos-form-simple">
        <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
        <fieldset>
          <label for="pos-user-first-name">First name</label>
          <input type="text" name="first_name" id="pos-user-first-name" value="{{ current_profile.first_name }}" required placeholder="first name" {% render 'modules/common-styling/forms/error_input_handler', name: 'first_name', errors: errors['first_name'] %}>
          {% render 'modules/common-styling/forms/error_list', name: 'first_name', errors: errors['first_name'] %}
        </fieldset>

        <fieldset>
          <label for="pos-user-last-name">Last name</label>
          <input type="text" name="last_name" id="pos-user-last-name" value="{{ current_profile.last_name }}" required placeholder="last name" {% render 'modules/common-styling/forms/error_input_handler', name: 'last_name', errors: errors['last_name'] %}>
          {% render 'modules/common-styling/forms/error_list', name: 'last_name', errors: errors['last_name'] %}
        </fieldset>

        {% render 'modules/common-styling/forms/hcaptcha' %}

        <button type="submit" class="pos-button pos-button-primary">Submit</button>

      </form>
    </section>

    <section class="pos-spacing">
      <header>
        <h1 class="pos-heading-3">2FA</h1>
      </header>
      {% if otp_configured == false %}
        <a href="/profiles/2fa/new" class="pos-button pos-button-primary">
          Setup 2FA
        </a>
      {% else %}
        <a href="/profiles/2fa/disable" class="pos-button pos-button-primary">
          Disable 2FA
        </a>
      {% endif %}
    </section>

    {% render 'modules/user/oauth/listing' %}
  </section>
{% else %}
  impersonating: {{ current_user }} (original user id: {{ context.session.original_user_id }})
  <form action="/sessions/impersonations" method="post">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="redirect_to" value="/admin">
    <button type="submit" class="pos-button">Log back in as original user</button>
  </form>
{% endif %}
