---
metadata:
  name: Register
  params:
    values: {}
    errors: []
    registration_fields: []
---

{% liquid
  assign values = values | default: params.values
  assign errors = errors | default: params.errors
%}

<section class="pos-user-content">

  <h1 class="pos-heading-2">{{ 'modules/user/users.new.create_account' | t }}</h1>

  <form action="/users" method="POST" class="pos-form pos-form-simple">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
    {% for field in registration_fields %}
      <fieldset>
        {% if field.label %}
          <label for="pos-user-{{ field.name }}">{{ field.label }}</label>
        {% endif %}
        <input type="{{ field.type }}" name="{{ field.name }}" id="pos-user-{{ field.name }}" value="{{ values[field.name] }}" required placeholder="{{ field.placeholder }}"{% render 'modules/common-styling/forms/error_input_handler', name: field.name, errors: errors[field.name] %}>
        {% render 'modules/common-styling/forms/error_list', name: field.name, errors: errors[field.name] %}
      </fieldset>
    {% endfor %}

    <fieldset>
      <label for="pos-user-first-name">First name</label>
      <input type="text" name="first_name" id="pos-user-first-name" value="{{ values.first_name }}" required placeholder="first name" {% render 'modules/common-styling/forms/error_input_handler', name: 'first_name', errors: errors['first_name'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'first_name', errors: errors['first_name'] %}
    </fieldset>

    <fieldset>
      <label for="pos-user-last-name">Last name</label>
      <input type="text" name="last_name" id="pos-user-last-name" value="{{ values.last_name }}" required placeholder="last name" {% render 'modules/common-styling/forms/error_input_handler', name: 'last_name', errors: errors['last_name'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'last_name', errors: errors['last_name'] %}
    </fieldset>

    <fieldset>
      <label for="pos-user-email">Email</label>
      <input type="email" name="email" id="pos-user-email" value="{{ values.email }}" required placeholder="my@email.com" {% render 'modules/common-styling/forms/error_input_handler', name: 'email', errors: errors['email'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'email', errors: errors['email'] %}
    </fieldset>

    <fieldset>
      <label for="pos-user-password">Password</label>
      <input type="password" name="password" id="pos-user-password" required placeholder="••••••••" {% render 'modules/common-styling/forms/error_input_handler', name: 'password', errors: errors['password'] %}>
      {% if errors['password'] %}
        <ul id="pos-user-password-error">
          {% for error in errors['password'] %}
            <li class="pos-form-error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </fieldset>

    {% render 'modules/common-styling/forms/hcaptcha' %}

    <fieldset>
      <button type="submit" class="pos-button pos-button-primary">{{ 'modules/user/passwords.register' | t }}</button>
    </fieldset>

  </form>

  <span class="pos-supplementary">{{ 'modules/user/users.new.already_have_account' | t }}</span>
  
  {% render 'modules/user/oauth/providers' %}

</section>