---
metadata:
  name: Register
  params:
    values: {}
    errors: []
    registration_fields: []
---

{% liquid
  assign values = values | default: params.values
  assign errors = errors | default: params.errors
  assign registration_fields = registration_fields | default: params.registration_fields
%}

{% liquid
  assign redirect_to = redirect_to | default: params.redirect_to | default: '/'
%}

<section class="pos-user-content">

  <h1 class="pos-heading-2">{{ 'modules/user/users.new.create_account' | t }}</h1>

  <form action="/users" method="POST" class="pos-form pos-form-simple">
    {% render 'modules/core/helpers/authenticity_token', context: context %}

    <fieldset class="pos-form-required">
      <label for="pos-user-email">Email</label>
      <input type="email" name="email" id="pos-user-email" value="{{ values.email }}" required placeholder="my@email.com">
    </fieldset>

    <fieldset class="pos-form-required">
      <label for="pos-user-password">Password</label>
      <input type="password" name="password" id="pos-user-password" value="{{ values.password }}" required placeholder="••••••••">
    </fieldset>

    {% comment %} {% for field in registration_fields %}
      {% liquid
        assign default_value = values[field.name] | raw_escape_string
        assign error_messages = '[]' | parse_json
        assign has_error = errors[field.name]
        assign validation = null | hash_merge: messages: error_messages
        if has_error
          hash_assign validation['passed'] = false
          hash_assign validation['messages'] = errors[field.name]
        endif
        assign input_params = field | hash_merge: value: default_value
        assign label_params = null | hash_merge: content: field.label
        assign field_params = null | hash_merge: validation: validation, input_params: input_params, label_params: label_params

        theme_render_rc 'components/molecules/formfield', params: field_params
      %}
    {% endfor %} {% endcomment %}

    {% theme_render_rc 'components/molecules/hcaptcha', object: object %}

    <button type="submit" class="pos-button pos-button-primary">{{ 'modules/user/passwords.register' | t }}</button>

  </form>

  {{ 'modules/user/users.new.already_have_account' | t }}

</section>