{% function users = 'modules/user/queries/user/get_all' %}
<div class="container">

  {% theme_render_rc 'components/atoms/heading', content: 'Users', level: 2, classes: 'pb-8' %}
  <table class="w-full">
    <thead>
      <tr>
        <th>ID</th>
        {% for property in users.first %}
          {% unless property[0] == 'id' or property[0] == 'hook_results' %}
          <th>{{ property[0] }}</th>
          {% endunless %}
        {% endfor %}
        <th>Additional fields</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      {% liquid
        assign id = user.id
        assign hook_results = user.hook_results
        assign user = user | hash_delete_key: 'id'
        assign user = user | hash_delete_key: 'hook_results'
      %}
      <tr>
        <td>{{ id }}</td>
        {% for property in user %}
        <td>
          {% assign type = property[1] | type_of %}
          {% if type == 'Array' %}
            {{ property[1] | join: ', ' }}
          {% else %}
            {{ property[1] }}
          {% endif %}
        </td>
        {% endfor %}
        <td>
        {% if hook_results %}
          {% for hook_result in hook_results %}
            {% if hook_result[1] %}
              <b>{{ hook_result[0] }}:</b><br>
              {{ hook_result[1] }}
            {% endif %}
          {% endfor %}
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
