<h1 class="title">{{ 'modules/user/emails.passwords.reset.title' | t }}</h1>

<p>{{ 'modules/user/emails.passwords.reset.content' | t }}</p>
<p>{{ 'modules/user/emails.passwords.reset.ignore' | t }}</p>

<table class="card cta">
  <tr>
    <td>

      <h2 class="subtitle">{{ 'modules/user/emails.passwords.reset.cta' | t }}</h2>

      <a href="{{ data.url }}" class="button">
        {{ 'modules/user/emails.passwords.reset.cta_button' | t }}
      </a>

    </td>
  </tr>
</table>
