{% liquid
  function current_profile = 'modules/user/helpers/current_profile'
%}

{% if current_profile %}

  {% if context.session.original_user_id == blank %}
    <main class="app-user-page">

      <nav class="app-user-navigation">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/subscription">Subscription area</a>
        <a href="/admin">Admin</a>
      </nav>

      <section class="app-user-info pos-card pos-card-highlighted">
        <header>
          <h1 class="pos-heading-3">Current profile</h1>
          <form action="/sessions" method="post">
            <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="pos-button">
              {{ 'modules/user/users.logout' | t }}
            </button>
          </form>
        </header>
        <dl class="app-user-info-list">
          {% for info in current_profile %}
            {% if info[0] != 'id' and info[0] != 'c__names' and info[0] != 'user' %}
              <dt>{{ info[0] }}</dt>
              <dd data-tc="{{info[0]}}">
                {% if info[0] == 'roles' %}
                  <ul class="pos-tags-list">
                    {% for role in info[1] %}
                      <li class="pos-tag">{{ role }}</li>
                    {% endfor %}
                  </ul>
                  <a href="https://github.com/Platform-OS/pos-module-user?tab=readme-ov-file#setup">How to promote user to superadmin?</a>
                {% else %}
                  {{ info[1] }}
                {% endif %}
              </dd>
            {% endif %}
          {% endfor %}
        </dl>
      </section>

      <section class="pos-user-code">
        <code><pre>
{%- raw -%}
{% liquid
  function current_user = 'modules/user/queries/user/current'
  {{ current_user }}
%}
{% endraw %}</pre></code>
        <p>{{ current_profile.user }}</p>
      </section>

      <section class="pos-user-code">
        <code><pre>
{%- raw -%}
{% liquid
  function current_profile = 'modules/user/helpers/current_profile'
  {{ current_profile }}
%}
{% endraw %}</pre></code>
        <p>{{ current_profile }}</p>
      </section>


    {% else %}
      <main class="app-user-page">
        impersonating: {{ current_user }} (original user id: {{ context.session.original_user_id }})
        <form action="/sessions/impersonations" method="post">
          <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="redirect_to" value="/admin">
          <button type="submit" class="pos-button">
            Log back in as original user
          </button>
        </form>
      </main>

    {% endif %}

  </main>

{% else %}

  <main class="app-user-intro">

    <section class="app-user-intro-content">
      <h2 class="pos-heading-2">
        <img src="{{ 'images/pos-sign.svg' | asset_url }}" width="28" height="25" loading="eager" alt="">
        Example platformOS user management application
      </h2>
      <nav>
        <ul class="app-user-intro-nav">
          <li><a href="/users/new">Register</a></li>
          <li><a href="/sessions/new">Log in</a></li>
        </ul>
      </nav>
    </section>

    <footer class="app-user-intro-footer">
      Powered by <a href="https://platformos.com">platformOS</a>
    </footer>
  
  </main>

{% endif %}
