---
metadata:
  name: Login
  params:
    errors: []
---
{% liquid
  assign errors = errors | default: params.errors
%}

<section class="pos-user-content">

  <h1 class="pos-heading-2">{{ 'modules/user/sessions.new.log_in' | t }}</h1>

  <form action="/sessions" method="POST" class="pos-form pos-form-simple">

    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">

    <fieldset>
      <label for="pos-user-email">{{ 'modules/user/passwords.email' | t }}</label>
      <input type="email" name="email" id="pos-user-email" value="{{ values.email }}" required placeholder="my@email.com" {% render 'modules/common-styling/forms/error_input_handler', name: 'email', errors: errors['email'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'email', errors: errors['email'] %}
    </fieldset>

    <fieldset>
      <div class="pos-user-label-password">
        <label for="pos-user-password">{{ 'modules/user/passwords.password' | t }}</label>
        <a href="/passwords/reset">{{ 'modules/user/passwords.forgot' | t }}</a>
      </div>
      <input type="password" name="password" id="pos-user-password" required placeholder="••••••••" {% render 'modules/common-styling/forms/error_input_handler', name: 'password', errors: errors['password'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'password', errors: errors['password'] %}
    </fieldset>

    <fieldset>
      <button type="submit" class="pos-button pos-button-primary">{{ 'modules/user/sessions.new.log_in' | t }}</button>
    </fieldset>

  </form>

  <span class="pos-supplementary">{{ 'modules/user/sessions.new.dont_have_account' | t }} <a href="/users/new">{{ 'modules/user/sessions.new.request_to_join' | t }}</a></span>

  {% render 'modules/user/oauth/providers' %}

</section>