---
metadata:
  name: Reset password
  params:
    context: {}
    errors: []
---
{% liquid
  assign context = context | default: params.context
  assign errors = errors | default: params.errors
%}

<section class="pos-user-content">

  <h1 class="pos-heading-2">{{ 'modules/user/passwords.reset_password_title' | t }}</h1>

  <p>{{ 'modules/user/passwords.email_desc' | t }}</p>

  <form action="/authentication_links" method="POST" class="pos-form pos-form-simple">

    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">

    <fieldset>
      <label for="pos-user-email">{{ 'modules/user/passwords.email' | t }}</label>
      <input type="email" name="authentication_link[email]" id="pos-user-email" value="{{ values.email }}" required placeholder="my@email.com" {% render 'modules/common-styling/forms/error_input_handler', name: 'email', errors: errors['email'] %}>
      {% render 'modules/common-styling/forms/error_list', name: 'email', errors: errors['email'] %}
    </fieldset>

    {% render 'modules/common-styling/forms/hcaptcha' %}

    <fieldset>
      <button type="submit" class="pos-button pos-button-primary">{{ 'modules/user/passwords.reset_password' | t }}</button>
    </fieldset>

  </form>

  <span class="pos-supplementary">{{ 'modules/user/passwords.remembered_password' | t }} <a href="/sessions/new">{{ 'modules/user/sessions.new.log_in' | t }}</a></span>

</section>