{% function users = 'modules/user/lib/queries/user/get_all' %}
{% for user in users %}
  <div>
    <h3>{{ user.email }} (#{{ user.id }})</h3>
    <code>{{ user }}</code>
    <h4>Hook implementations</h4>
    {% for hook in user.hook_results %}
      <p><strong>{{ hook[0] }}</strong></p>
      <code>{{ hook[1] }}</code>
    {%endfor %}
  </div>
{% endfor %}
