{% comment %}

  password input with an optional strength meter

  arguments:
    name - form input name (string)
    id - input id (string)
    value - value in the input (string)
    class - class list added to the input container (string)
    meter - if you want the password weakness to be shown (bool)

{% endcomment %}



<div class="pos-form-password {{ class }}">

  <div class="pos-form-password-input-container">
    {% comment %} input {% endcomment %}
    <input
      type="password"
      name="{{ name }}"
      id="{{ id }}"
      placeholder="••••••••"
      value="{{ value | raw_escape_string }}"
      required
      class="pos-form-input"
    >

    {% comment %} show/hide password toggle {% endcomment %}
    <button type="button" title="{{ 'modules/common-styling/password.toggle_visibility' | t }}" class="pos-form-password-toggle">
      <span class="pos-label">{{ 'modules/common-styling/password.toggle_visibility' | t }}</span>
      {% render 'modules/common-styling/icon', icon: 'eye', class: 'pos-form-password-toggle-show' %}
      {% render 'modules/common-styling/icon', icon: 'eyeStriked', class: 'pos-form-password-toggle-hide' %}
    </button>
  </div>

  {% comment %} strength meter {% endcomment %}
  {% if meter %}
    <div class="pos-form-password-strength-meter">
      <span></span><span></span><span></span>
    </div>

    <div class="pos-form-password-strength-description" aria-live="polite">
      <span class="pos-form-password-strength-description-weak">{{ 'modules/common-styling/password.weak' | t }}</span>
      <span class="pos-form-password-strength-description-medium">{{ 'modules/common-styling/password.medium' | t }}</span>
      <span class="pos-form-password-strength-description-strong">{{ 'modules/common-styling/password.strong' | t }}</span>
    </div>
  {% endif %}

</div>